*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
.container {
    width: 25%;
    margin: auto;
    background-color: white;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
img{
    width: 100%;
}
i,b{
    cursor: pointer;
}



/* Main Div */

.main-div {
    background: black;
}

/* Header Section */

.header-section p {
    font-size: 1.2rem;
    padding-bottom: .4rem;
    border-bottom: 1px solid #d6d4d4;
}
.header-section p:before {
    content: "<";
    position: relative;
    left: -40%;
    font-weight: 500;
    font-size: 1.7rem;
    color: grey;
    cursor: pointer;
}

/* Profile Section */

.profile-section {
    display: flex;
    margin: 1rem 0;
}
.profile-1 {
    display: flex;
    align-items: center;
} 
.profile-1-img {
    margin: 0 1rem;
}
.profile-1-img p {
    color: white;
    font-weight: 900;
    font-size: 1.4rem;
    height: 2rem;
    width: 2rem;
    background: yellow;
    line-height: 2rem;
    border-radius: 50%;
    border: 1px solid #ffa000;
}
.profile-1-name {
    text-align: left;
    font-size: .8rem;
}
.profile-2 {
    width: 50%;
    text-align: right;
    font-weight: 800;
    cursor: pointer;
}

/* React Section */

.react-section {
    display: flex;
}
.react-1 {
    width: 50%;
    text-align: left;
}
i {
    font-size: 1.4rem;
    padding: 1rem .4rem;
}
.react-2{
    width: 50%;
}

/* Like Section */

.like-section p {
    font-size: .8rem;
    font-weight: 700;
    padding-left: .5rem;
}

/* Post Section */

.post-section{
    padding-left: .5rem;
}
.post-section p {
    font-size: .9rem;
    padding-top: .5rem;
}

/* Comments Section */

.comments-section p {
    padding-left: .5rem;
    font-size: .8rem;
    padding-top: .5rem;
    color: grey;
    padding-bottom: 1rem;
}

/* Footer Section */

.footer-section {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #e8e6e6;
}


@media all and (max-width:650px){
    .container {
        width: 100%;
    }
}
